
<h1>Listado Usuarios disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Contraseña</th>
      <th>Contraseña Confirmada</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.password_confirmation %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>

<% else %>
	<%= controller.redirect_to requests_path %>

