
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Confirmar_Contraseña:</strong>
  <%= @user.password_confirmation %>
</p>



<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', "/starts" %>

<% else %>

